<h3>Tap the keyword that best fit your business</h3>
<p>We found some keywords you can add to your listing to help customers find you when searching for your service on Yellow Pages or Google, and can help your ad rank higher.</p>

<hr />

<div class="inline" ng-repeat="n in ['building contractors', 'construction', 'building services', 'residential builders', 'home construction', 'building desgin and construction' ,'building projects', 'latest building technology', 'architecture', 'building works' ]">
	<span class="button text-left-important selectable-button"
	   ng-class="{'is-selected':isSelected}"
	   ng-click="isSelected= !isSelected">{{ n }} <i ng-class="{'checkmark':isSelected, 'plus':!isSelected}" class="icon"></i></span>
</div>

<div class="keywords input-group">
	<button class="expanded button main-btn" style="margin-bottom: 10px; background-color: #c3c3c3;">Show more <i class="angle down icon"></i></button>
	<br>
	<a class="expanded button main-btn" href="#/upload/hero">Next</a>
	<a class="expanded button secondary" href="#step/4" style="margin-top:10px;">Previous</a>
</div>

<div class="progress-container">
	<div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
	  <span class="progress-meter" style="width: 50%">
	    <p class="progress-meter-text">50%</p>
	  </span>
	</div>
</div>